{
  "proxy": {
    {
      "targetDomain": "target.domain1.com",
      "proxies": [
        {
          "protocol": "https",
          "server": "proxy.server1.com:8080"
        },
        {
          "protocol": "http",
          "server": "proxy.server2.com:8080"
        }
      ]
    },
    {
      "targetDomain": "target.domain2.com",
      "proxies": [
        {
          "protocol": "https",
          "server": "proxy.server3.com:8080",
          "username": "user1",
          "password": "pass1"
        }
      ]
    },
    {
      "isDefault": true,
      "proxies": null
    }
  },
  "server": {
    "port": 3000
  }
}